---

import Popover from "../components/Popover.astro";

---

<header class="header_container">
    
 
        <div class="header_content">
            <a href="/"> <h5 id="logo"> AskExperts </h5> </a>   
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/case/">Case Study</a></li>
                <li><a href="/team/">Team</a></li>
                <li><a href="/about/">About</a></li>
            </ul>
            <button popovertarget="login" id="login_button">Login</button>
        </div>
   

        <Popover item_id="login" />

        <div class="header_content">
            <a href="/"> <h5 id="logo"> AskExperts </h5> </a> 
            
            <div class="hamburger">
              <span class="line_one"></span>
              <span class="line_two"></span>
              <span class="line_three"></span>
            </div>
        </div>
          
        <ul class="menu">
            <li><a href="/">Home</a></li>
            <li><a href="/case/">Case Study</a></li>
            <li><a href="/team/">Team</a></li>
            <li><a href="/about/">About</a></li>
            <li><button popovertarget="login">Login</button></li>
        </ul>

   
</header>

<script>
    
    const icon = document.querySelector(".hamburger");
    const menu = document.querySelector(".menu");

    icon.addEventListener("click", () => {
        icon.classList.toggle("clicked");
        menu.classList.toggle("show_menu");
    });

</script>

<style>
    
    @layer components {

        .header_container {
            background: oklch(from var(--primary-3) calc(l + 0.1) c h);
            height: 100px;
            position: sticky;
            padding-top: 5px;
            top: -15px;
            z-index: 100;
            align-content: center;
        }

        ul {
                display: flex;
                gap: var(--space-l);
            }
    

        .header_content {
            background: oklch(from var(--primary-3) calc(l + 0.1) c h);
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: var(--space-m) 0;
            
            position: sticky;
            top: 0;

            #logo{
                color: var(--secondary-2);
            }

            /* burger menu */

            .hamburger {
                --line-height: var(--space-3xs);
                --burger-size: calc(var(--line-height) * 6.5);
                
                width: calc(var(--burger-size) * 1.5);
                height: var(--burger-size);
                z-index: 1;
                cursor: pointer;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
  
                span {
                    position: absolute;
                    display: block;
                    height: var(--line-height);
                    width: calc(var(--burger-size) * 1.5);
                    background-color: var(--secondary-2);
                    transform: rotate(0);
                    transition: all .25s ease;
                }
  
                .line_one {
                    top: calc(var(--burger-size) - var(--burger-size));
                }

                .line_two {
                    top: calc(var(--burger-size) / 2);
                }

                .line_three {
                    top: var(--burger-size);
                }
            }

            .clicked .line_one {
                transform: translateY(calc(var(--burger-size) / 2)) rotate(45deg);
            }

            .clicked .line_two {
                opacity: 0;
            }

            .clicked .line_three {
                transform: translateY(calc(var(--burger-size) / -2)) rotate(-45deg);
            }
        }

        .menu {   
                flex-direction: column;
                justify-content: space-between;
                padding: var( --space-3xl);
                color: var(--secondary-2);
                background: oklch(from var(--primary-3) calc(l + 0.1) c h);
                position: fixed;
                top: calc(var( --space-l) + var(--step-5));
                right: 0;
                z-index: -2;
                width: 100vw;

                transform: translateY(-100%);
                transition: all .5s ease;

            }
            .show_menu {
            transform: translateY(0);
            }
        @media (width <= 650px) { 
                .header_content:first-child {
                    display: none;
                }
            }
        @media (width > 650px) { 
            .header_content:nth-last-child(2), .menu{
                display: none;
            }
        }

        #login_button {
            border-radius: 1.25rem;
            padding: var(--space-3xs) var(--space-s);

            &:hover {
                --button: oklch(from var(--primary-1) calc(l - 0.1) c h);
                color: var(--primary-3);
             }
        } 
    }
</style>