---
const { keywordText, backgroundColor, textColor } = Astro.props;
---

<span>{keywordText}</span>

<style define:vars={{ textColor, backgroundColor }}>
    @layer components {
        span{
            background-color: var(--backgroundColor);
            color: var(--textColor);
            text-transform: uppercase;
            padding: 0 var(--space-xs);
            letter-spacing: 0.145rem;
            font-family: Lato;
            border-radius: var(--border-card);
        }
        
    }
</style>