---

---

<ul>
    <li>
        <h1 class="number">+</h1>
        Successful Work
    </li>
    <li>
        <h1 class="number">+</h1>
        Team member
    </li>
    <li>
        <h1 class="number">+</h1>
        Happy Customers
    </li>
    <li>
        <h1 class="number">+</h1>
        Creative Idea
    </li>
</ul>

<style>
    @layer components {
        ul {
            display: flex;
            justify-content: space-evenly;
            gap: var(--space-s);
            text-align: center;
            text-wrap: wrap;
            margin: var(--space-2xl) 0 var(--space-5xl) 0;
            flex-wrap: wrap;
            
        }

        /* dum kode, men det eneste, der lige var tid til */

        @property --num {
            syntax: '<integer>';
            initial-value: 0;
            inherits: false;
        }

        .number::before {
            content: counter(num);
        }
        
        li:first-child .number{
            animation: --counter1 linear both;
            animation-timeline: view(block);
            animation-range: entry 200% contain 30%;
            counter-reset: num var(--num);
        }
        
        @keyframes --counter1 {
            to {
                --num: 1128;
            }
        } 

        li:nth-child(2) .number {
            animation: --counter2 linear both;
            animation-timeline: view(block);
            animation-range: entry 200% contain 30%;
            counter-reset: num var(--num);
        }
        
        @keyframes --counter2 {
            to {
                --num: 908;
            }
        } 

        li:nth-child(3) .number {
            animation: --counter3 linear both;
            animation-timeline: view(block);
            animation-range: entry 200% contain 30%;
            counter-reset: num var(--num);
        }
        
        @keyframes --counter3 {
            to {
                --num: 258;
            }
        } 

        li:nth-child(4) .number {
            animation: --counter4 linear both;
            animation-timeline: view(block);
            animation-range: entry 200% contain 30%;
            counter-reset: num var(--num);
        }
        
        @keyframes --counter4 {
            to {
                --num: 564;
            }
        } 


    }

</style>