---

---

<ul>
    <li>
        <h1>1128+</h1>
        Successful Work
    </li>
    <li>
        <h1>908+</h1>
        Team member
    </li>
    <li>
        <h1>258+</h1>
        Happy Customers
    </li>
    <li>
        <h1>564+</h1>
        Creative Idea
    </li>
</ul>

<style >
    @layer components {
        ul {
            display: flex;
            justify-content: space-evenly;
            gap: var(--space-s);
            text-align: center;
            text-wrap: wrap;
            margin: var(--space-2xl) 0 var(--space-7xl) 0;
        }
    }
</style>